{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<style>
    body{
        background: rgb(221,188,201);
        background: radial-gradient(circle, rgba(221,188,201,1) 0%, rgba(148,187,233,1) 100%);
    }

    li {
        display: inline;     
    }

    li a{
        text-decoration: none;
    }

</style>
<div class = "login">
    
    <h1 style="text-align: center;">Formulir Registrasi</h1>  

        <form method="POST" >  
            {% csrf_token %}  
            <table table align="center">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input style="background-color: #cf9fca; padding: 5px 20px; text-decoration: none;" type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}